.area-car {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.car {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0b3d21;
	border-radius: 10px;
	width: 750px;
	height: 600px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 60px;
}

.car form {
	width: 700px;
}

.car h1 {
	font-size: 28px;
	font-weight: 700;
	color: #A6A6A6;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

#itens {
	color: #A6A6A6;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#quantidade, #produto, #valor {
	margin-bottom: 10px;
	margin-top: 10px;
}

#total, #total-es {
	color: #A6A6A6;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 5px;
}

#barra-se {
	margin-bottom: 1px solid black;
}

.car button {
	display: block;
	background-color: #4e4e53;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition: 0.7s;
	color: #a6a6a6;
	margin-left: 260px;

}

.car button:hover {
	background-color: green;
}

.car button {
	margin-top: 10px;
	background-color: #4e4e53;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #a6a6a6;
	border: none;
	width: 200px;
	height: 30px;
	outline: none;
	border-radius: 8px;
}

#finalizar {
	width: 200px;
	height: 40px;
	margin-top: 20px;
}

/* carrinho de compras */