.area-SAC {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.SAC {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0b3d21;
	border-radius: 10px;
	width: 750px;
	height: 505px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 60px;
}

.SAC form {
	width: 700px;
}

.SAC h1 {
	font-size: 28px;
	font-weight: 700;
	color: #A6A6A6;
	border-bottom: 2px solid black;
}

.SAC p {
	color: #A6A6A6;
	font-size: 17px;
	font-weight: bold;
	font-weight: 700;
	border-bottom: 2px solid black;
}

/* Selecione o assunto */


.assunto {
	margin-top: 6px;
}

.assunto label{
	margin-top: 10px;
	padding-top: 10px;
	font-size: 13px;
	font-weight: 200;
	color: #A6A6A6;
}

.assunto input {
	cursor: pointer;
	margin:0 12px 0 0;
 	vertical-align: middle;
 	position: relative;
  	top: 0px;
	margin-right: 1px;
	margin-left: 25px;
}

#tirar-duvida {
	margin-left: 1px;
}

/* Informe seus dados */

.informe {
	margin-top: 0px;
	vertical-align: middle;
 	position: relative;
}

.informe input{
	background-color: #4e4e53;
	border: 2px solid #4e4e53;
	color: #a6a6a6;
	outline: none;
	border-radius: 8px;
	height: 35px;
	width: 220px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
	font-size: 13px;
}


.informe input::placeholder {
	color: #a6a6a6;
	font-size: 13px;
}

.informe input:hover {
	border-color: green;
}

#NomeCompleto, #CPF, #E-mail {
	margin-right: 10px;
}

.mensagem {
	margin-top: 0px;
	vertical-align: middle;
 	position: relative;
}

.mensagem textarea {
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 8px;
	padding: 10px;
	color: #a6a6a6;
	background-color: #4e4e53;
	border: 2px solid #4e4e53;
	outline: none;
}

textarea::placeholder {
	color: #a6a6a6;
}

textarea:hover {
	border-color: green;
}

.SAC button {
	display: block;
	background-color: #4e4e53;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition: 0.7s;
	color: #a6a6a6 ;
	height: 200px;
}

.SAC button:hover {
	background-color: green;
}

.SAC button {
	margin-top: 10px;
	background-color: #4e4e53;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #a6a6a6;
	border: none;
	width:90px;
	outline: none;
	border-radius: 8px;
}